/* Top Name Header */
.top-header {
    text-align: center;
    padding: 20px 0;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 1px;
}

/* Bottom macOS Dock */
.dock {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(20px);
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    gap: 25px;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
    
  
  
   
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    padding: 12px 25px;
    border: 1px solid rgba(255, 255, 255, 0.2);





}

/* Dock Icons */
.dock img {
    width: 45px;
    transition: transform 0.25s ease;
}

/* macOS hover zoom effect */
.dock img:hover {
    transform: scale(1.35);
   
}
.top-header{
    font-family: "Fira Code", monospace;;
     background-color:#0D0D0D;
     color: white;
     width: hv;
     height: 30px;
     
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Monsterrat", sans-serif;
    background-color: #F2F2F2;
    flex-direction: column;
    height: 500px;
}
.about{
     display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Monsterrat", sans-serif;
    background-color: #F2F2F2;
    flex-direction: column;
    height: 500px;
}
html{
    scroll-behavior: smooth;
}